<% provide(:title, "Help") %>
<h1>HELP, HELP</h1>
<p>I'M BEING OPRESSED</p>
<p>(This is the help page for the sample app from the <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.</p>
