<<<<<<< HEAD
=======

>>>>>>> static-pages
<h1>WELCOME HOME</h1>
<p>Ah! I see you have reached the home page 
for my sample application, part of the 
<a href="http://www.railstutorial.org">
  Ruby on Rails Tutorial</a>.
Have a seat.
<img width=100% src="http://www.ikea.com/PIAimages/0105948_PE253720_S5.JPG">but DONT get comfy whatever you do</img>
</p>